---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Type'
    value: page.object_work_type
  - label: 'Location'
    value: page.collocation
  - label: 'Acquisition'
    value: page.type_of_acquisition
  - label: 'Material'
    value: page.material
  - label: 'Description'
    value: page.description
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
